/* Hide scrollbar for .chatbot */
.chatbot {
    position: fixed;
    bottom: 40px;
    right: 20px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: auto;
    scrollbar-width: none;
    height:450px;
    /* For Firefox */
    /* scrollbar-color: transparent transparent; */
    /* For Firefox */
}

/* Style scrollbar for WebKit browsers (Chrome, Safari, etc.) */
/* .chatbot::-webkit-scrollbar {
    width: 0;
   
}


.chatbot::-webkit-scrollbar-track {
    background: transparent;
    
}


.chatbot::-webkit-scrollbar-thumb {
    background: transparent;
    
} */

/* Chat messages container */
.messages {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 330px;
    overflow-y: scroll;
    scrollbar-width: none;
    
    
  
       
   
}

/* Individual message style */
.header{
    height:40px;
    background-color: #007bff;
display: flex;
 justify-content: space-between;
   
    width:100%;
   
}
.message {
    max-width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

/* User message style */
.user {
    align-self: flex-end ;
    background-color: #007bff;
  text-align: right;
    color: #fff;
}

/* Bot message style */
.bot {
    align-self: flex-start;
    background-color: #f0f0f0;
    text-align: left;
}
.input{
    display: flex;
    
    /* justify-content: space-between;
    align-items: space-between; */
}
.input-box{
 border-width: 0px;
 border-color: white;
 padding-left:10px;
 height:50px;
 
}
.send{
    width:22px;
    margin-top:18px;
    margin-right:5px;
}
.image-container
{
    padding-left:5px;
    padding-right: 5px;
}
.top{
    /* align-self: flex-start; */
    color:#fff;
    font-size: 20px;
    margin-left:10px;
    margin-top:5px;

}
.cross{
/* align-self: flex-end; */
cursor: pointer;
}
.cross_image{
    width: 22px;
        margin-top: 8px;
        margin-right: 5px;
}